* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#players_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  width: 40rem;
}

button {
  background-color: rgba(69, 139, 219, 0);
  color: black;
  margin: 0.2rem;
  width: 5rem;
  padding: 1rem 0;
}

button:hover {
  background-color: rgba(69, 139, 219, 0.5);
}
