.player {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  width: 20rem;
  text-align: center;
  /* padding: 2rem; */
}

.player > div {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
}
